body {
    background-image: url("../images/CaveQuartz.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    line-height: 2.0em;
}


* {
    box-sizing: border-box;
}

.game-header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.instructions p {
    color: #ce2f93;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 2px 0 black;
    font-family: 'Concert One', cursive;
    margin-bottom: 40px;
}


#computerNumber {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 0 white;
    font-family: 'Concert One', cursive;
    margin-bottom: 30px;
}

#totalScore {
    font-size: 40px;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    font-family: 'Concert One', cursive;
    margin-bottom: 30px;
}


@media only screen and (max-width: 720px) {

.instructions p {
    font-size: 18px;
}

#computerNumber,
#totalScore {
    font-size: 30px;
}

}

#flash {
    color: #ffffff;
    text-shadow: 3px 3px 0 black;
    text-align: center;
    font-size: 42px;
}


.status {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Concert One', cursive;
}

/*wins loses*/
#scoreboard {
    margin-bottom: 6px;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 0 #ce2f93;
    font-family: 'Concert One', cursive;
    margin-bottom: 50px;
}

#crystals img  {
    margin: 0 120px;
    width: 160px;
    height: auto;
    margin-bottom: 30px;
}


@media only screen and (min-width: 1025px) and (max-width: 1600px) {
#crystals img {
    margin: 0 90px;
    width: 110px;
}
}

@media only screen and (min-width: 578px) and (max-width: 1024px) {

#crystals img {
    margin: 0 50px;
    width: 100px;
}

.game-header img {
    margin-bottom: 10px;
}

.instructions p {
    font-size: 24px;
    margin-bottom: 10px;
}
#computerNumber,
#totalScore {
    margin-bottom: 10px;
}

#scoreboard {
    margin-bottom: 20px;
}

}


@media only screen and (max-width: 577px) {

body {
    overflow-y: visible;
}

#crystals img {
    margin: 50px;
    width: 95px;
    margin-bottom: 0;
}

.game-header img {
    margin-bottom: 5px;
}

.instructions p {
    font-size: 22px;
    margin-bottom: 5px;
}
#computerNumber,
#totalScore {
    margin-bottom: 5px;
}

#scoreboard {
    margin-bottom: 5px;
}

#flash {
    font-size: 24px;
}
}





/* crystal image shakes when hovered*/
.crystalImage:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
    transform: translate3d(-1px, 0, 0);
}
    20%, 80% {
    transform: translate3d(2px, 0, 0);
}
    30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}
    40%, 60% {
    transform: translate3d(4px, 0, 0);
}













